if quotation && quotation.contentType === 'quotation'
    .quotation
        - var contentType = quotation.source.sys.contentType.sys.id
        - var source = quotation.source.fields
        - var img = contentType === 'person' ? contentfulImage(source.photo) : contentfulImage(source.logo)
        img.quotation-author-image(src=img+'?w=100&q=70&h=100&fit=thumb')
        blockquote.quotation-text
            != quotation.contents
        .quotation-source
            p.quotation-source-title!= source.title
            - var jobTitle = contentType === 'person' ? source.jobTitle : false
            - var affiliatedOrganisation = contentType === 'person' && source.organisations ? source.organisations[0] : false
            - var orgDescription = contentType === 'organisation' ? source.description : false
            p.quotation-source-details
                if jobTitle
                    span.quotation-source-job-title!= jobTitle
                if affiliatedOrganisation
                    span.quotation-source-affiliated-organisation , #{affiliatedOrganisation}
                if orgDescription
                    span.quotation-source-organisation-description!= orgDescription