mixin formatEventDates(ev)
	- var event = ev || {}
	- var start = event.startDate || startDate
	- var end   = event.endDate || endDate
		if start && end
			span.event-dates
				| #{moment(start).format('D')}
				if moment(end).isAfter(start,'month')
					|  #{moment(end).format('MMMM')}
				if moment(end).isAfter(start,'year')
					|  #{moment(end).format('YYYY')}
				if moment(endDate).isAfter(start,'day')
					|  &ndash; #{moment(end).format('D')}
				|  #{moment(end).format('MMMM YYYY')}
		else
			span.event-dates.event-dates-tba Dates TBA

mixin formatEventLocation(ev, opts)
	- var event = ev || {}
	- var eventVenue = event.venue || venue
	- var eventCity = event.city || city
	- var eventCountry = event.country || country
	- var options = opts || {}
	- var showVenue = options.venue === false ? false : true
	- var showCity = options.city === false ? false : true
	- var showCountry = options.country === false ? false : true
	span.event-location
		if eventCity && eventCountry
			if showVenue && eventVenue
				span.event-location-venue!=eventVenue
			if showVenue && eventVenue && showCity && eventCity
				| , 
			if showCity && eventCity
				span.event-location-city!=eventCity
			if showCity && eventCity && showCountry && eventCountry
				| , 
			if showCountry
				span.event-location-country!=eventCountry
		else 
			span.event-location-tba Location TBA