head
    - var collectionSlug = collectionSlug || collections[collection] && collections[collection].metadata && collections[collection].metadata.singular ? collections[collection]['metadata']['singular'] : "";
    -var description = description || excerpt || site.description;
    
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title
        if slug==='home'
            | #{site.title} – #{site.shortDescription}
        else
            | #{title} - #{site.title}
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='canonical', href=canonical)
    meta(name='description', content=strip(description))
    link(rel='stylesheet', type='text/css', href='/styles/app.min.css')
    if environment==='development'
        link(rel='stylesheet', type='text/css', href='/styles/icons.css')
    if environment==='development' || environment==='staging'
        meta(name="robots" content="noindex,nofollow")
    include ./schema
    include ./favicons
    script.
        // fast pre-rendering check for javascript capability without requiring Modernizr in the head
        var h = document.documentElement
        h.className = h.className.replace('no-js','js');
        // hide text while webfonts load, but unhide after half a second if they haven't loaded yet
        h.className += " wf-loading";
        window.wfInactive = false;
        window.wfl = setTimeout(function(){
            window.wfInactive = true;
            h.className=h.className.replace('wf-loading','wf-inactive');
        },500)
        // enqueue scripts at the end of the page from before the closing body tag
        window.d=[];window.loadScript=function(path){window.d.push(path)}
    script.
        // segment tracking code
        !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="3.1.0";
        }}();
    if environment !== 'development'
        script.
            // load the script
            analytics.load("<SEGMENT TRACKING CODE HERE>");
            analytics.page('#{title}')
        if slug === '404'
            script.
                // track 404s
                analytics.track('HTTPError',{
                    'HttpError.Code': 404,
                    'HTTPError.Path': window.location.pathname
                });
    block head