mixin parentLink(position, file)
	if file.parent && file.parent.sys.id
		- var parentFile = fileIDMap[file.parent.sys.id];
			em #{position} of this series
			br
			a(href=parentFile.canonical)
				i.fa.fa-backward
				strong  Go back to the #{parentFile.title} #{parentFile.contentType}

if Object.keys(series).length>0
	each s,seriesSlug in series
		if seriesSet[seriesSlug] && seriesSet[seriesSlug] && seriesSet[seriesSlug].file.paginateItems
			.series-pagination
				.series-pagination-series-title-wrapper Part of the series 
					h4.series-pagination-series-title!= typogr.typogrify(seriesSet[seriesSlug].file.title)
					-var seriesContentsID = "series-contents-"+seriesSlug
					ol.collapse.series-contents(id=seriesContentsID)
						each child,index in seriesSet[seriesSlug].children
							li.series-contents-item #{index+1}. 
								- var itemText = typogr.typogrify(child.file.title)
								if canonical === child.file.canonical
									strong!= itemText
								else 
									a(href=child.file.canonical)!= itemText
					a.series-contents-toggle.collapsed(href='#'+seriesContentsID, role="button", data-toggle="collapse", aria-expanded="false" aria-controls=seriesContentsID)
						span.show-contents 
							| show
						span.hide-contents
							| hide
						|  contents 
						span.show-contents 
							i.fa.fa-plus-circle
						span.hide-contents
							i.fa.fa-times-circle

				ul.series-pagination-links
					li.series-pagination-previous
						if s.previous
							a(href=s.previous.file.canonical)
								i.fa.fa-long-arrow-left
								|  Previous #{seriesType}
								br
								strong!= typogr.typogrify(s.previous.file.title)
						else 
							+parentLink('Beginning', seriesSet[seriesSlug].file)
					li.series-pagination-next
						if s.next
							a(href=s.next.file.canonical)
								| Next #{seriesType} 
								i.fa.fa-long-arrow-right
								br
								strong!= typogr.typogrify(s.next.file.title)
						else 
							+parentLink('End', seriesSet[seriesSlug].file)